.cases {
    padding: 64px 64px 216px;
    border-radius: 30px;

    background-color: #dad4c5;

    z-index: 2;

    box-sizing: border-box;
    margin-bottom: -116px;
}

.cases__container {
    display: flex;
    height: 100%;
    border-radius: 30px;

    background-color: #ccc7b9;

    div {
        padding: 24px;
        max-width: 445px;
    }
}

.cases__list-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.cases__list-item {
    padding: 0 16px;
    margin: 0 12px 12px 0;

    cursor: pointer;
    border-radius: 12px;
    background-color: white;
    color: #5b605c;
    font-family: "Inter";
    font-size: clamp(14px, 3.5vw, 16px);
    font-weight: 500;
    line-height: clamp(41px, 45px, 48px);
    list-style: none;
}

.cases__list-item_active {
    background-color: #f7ff8f;
    color: black;
}

.cases__title {
    margin: 20px 0 8px;
    font-family: "Inter";
    font-size: clamp(24px, 1.5vw, 32px);
    font-weight: 500;
    line-height: 48px;
}

.cases__text {
    margin: 0;
    font-family: "Inter";
    font-size: clamp(16px, 1.5vw, 22px);
    font-weight: 400;
    line-height: clamp(30px, 1.5vw, 36px);
    color: #5b605c;
}

.cases__image {
    opacity: 0;
    transition:
        width .2s,
        height .2s,
        opacity 2s;
}

.cases__image-container {
    position: relative;
}

.cases__image_unvisible {
    opacity: 0;
    width: 0;
    height: 0;
}

.cases__image_visible {
    opacity: 1;
    margin: 8px 8px 8px 0;
    width: 60vw;
    
    object-fit: contain;
}

@media (max-width: 1024px) {
    .cases__container {
        flex-direction: column;
        border-radius: 20px;
    }

    .cases__image_visible {
        margin: 5px;
        width: calc(100% - 10px);
        border-radius: 20px;
    }
}

@media (max-width: 768px) {
    .cases {
        padding: 30px 20px 140px;
    }

    .cases__container div {
        padding: 15px;
    }

    .cases__list-item {
        padding: 0 10px;
        margin: 0;
    }

    .cases__list-items {
        gap: 14px;
    }
}
