.cases {
    padding: 64px 64px 216px;
    border-radius: 30px;

    background-color: #dad4c5;

    z-index: 2;

    box-sizing: border-box;
    margin-bottom: -116px;
}

.cases__container {
    display: flex;
    height: 100%;
    border-radius: 30px;

    background-color: #ccc7b9;

    div {
        padding: 24px;
        max-width: 445px;
    }
}

.cases__list-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.cases__list-item {
    padding: 0 16px;
    margin: 0 12px 12px 0;

    cursor: pointer;
    border-radius: 12px;
    background-color: white;
    color: #5b605c;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 48px;
    list-style: none;
}

.cases__list-item_active {
    background-color: #F7FF8F;
    color: black;
}

.cases__title {
    margin: 20px 0 8px;
    font-family: "Inter";
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
}

.cases__text {
    margin: 0;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    color: #5b605c;
}

.cases__image {
    margin: 8px 8px 8px 0;
    width: 60vw;
    object-fit: contain;
    opacity: 0;
    transition: opacity 2s;
}

.cases__image_unvisible {
    opacity: 0;
}

.cases__image_visible {
    opacity: 1; 
    transition-delay: 2s; 
}

@media (max-width: 1024px) {
    .cases__container {
        flex-direction: column;
    }

    .cases__image {
        margin: auto;
        width: 100%;
    }
}