.main {
    display: flex;
    justify-content: center;
    text-align: left;

    margin: auto;

    color: #222FDC;
}

.main__container {
    max-width: 644px;
}

.main__title {
    margin: 0;

    font-family: 'Oswald';
    font-size: 90px;
    font-weight: 500;
    line-height: 80px;
}

.main__text {
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
}


.main__dialogue {
    width: 644px;
    height: 644px;
    border-radius: 30px;

    background-color: #222FDC;
}

.main__form {
    display: flex;
    justify-content: space-between;
    height: 100px;
    border: solid 2px #222FDC;
    border-radius: 30px;
    max-width: 596px;
    box-sizing: border-box;
    overflow: hidden;
}