.main {
    position: relative;

    display: flex;
    justify-content: center;
    text-align: left;

    padding: 50px 64px 126px;

    color: #222fdc;
}

.main__container {
    max-width: 644px;
}

.main__title {
    margin: 0;

    font-family: "Oswald";
    font-size: clamp(44px, 12vw, 90px);
    font-weight: 500;
    line-height: clamp(50px, 14vw, 80px);
}

.main__text {
    font-family: "Inter";
    font-size: clamp(16px, 4vw, 22px);
    font-weight: 400;
    line-height: clamp(20px, 5vw, 36px);
}

.main__form {
    display: flex;
    justify-content: space-between;
    height: 100px;
    border: solid 2px #222fdc;
    border-radius: 30px;
    max-width: 596px;
    box-sizing: border-box;
    overflow: hidden;
}

.main__link-arrow {
    position: absolute;
    left: 65px;
    bottom: 32px;

    height: 64px;
    width: 64px;

    cursor: pointer;
    background-image: url("../../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.dialogue {
    margin-top: 30px;
    width: 100%;
    max-width: 700px;
}

.dialogue__message-block {
    position: absolute;

    padding: 0 16px;
    border-radius: clamp(9px, 12px, 16px);

    background-color: white;
}

.dialogue__message-block_place_corner {
    top: 19px;
    left: 24px;
}

.dialogue__message-block_place_over-avatars {
    top: clamp(64px, 16.8vw, 140px);
    padding: 8px 24px;
}

.dialogue__message-block_place_under-avatars {
    padding: 8px 24px;
}

.dialogue__message-text {
    margin: 0;

    font-family: "Inter";
    font-size: clamp(14px, 3vw, 22px);
    font-weight: 500;
    line-height: clamp(10px, 3vw, 48px);
    text-align: center;

    color: #222fdc;
}

.dialogue__message-text_color_orange {
    color: #e36d2f;
}

.dialogue-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    margin-top: 30px;
    max-width: 644px;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 30px;

    background-color: #222fdc;
}

.dialogue-container__pen {
    position: absolute;
    bottom: 0;
    margin-bottom: -23%;
    width: 100%;
}
.dialogue-container__avatars {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0 0 0 -20px;

    list-style: none;
}

.dialogue-container__avatar {
    border: 10px solid #222fdc;
    margin-right: -20px;
    border-radius: 124px;
    height: clamp(70px, 15vw, 100px);
    box-sizing: border-box;
}

@media (max-width: 1300px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__link-arrow {
        display: none;
    }
}

@media (max-width: 768px) {
    .main {
        padding: 30px 20px 90px;
    }

    .main__form {
        height: 70px;
    }

    .dialogue-container {
        max-width: 644px;
    }
    .dialogue__message-block {
        padding: 15px;
    }

    .dialogue__message-block_place_corner {
        padding: 10px;
    }
}
