.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 64px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__nav-items {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 24px;
    list-style: none;
}

.header__nav-item {
    padding: 0 16px;

    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 48px;

    text-decoration: none;
    color: #5B605C;
}

.header__button {
    padding: 8px 32px;
    border-radius: 30px;
    margin-left: auto;

    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    line-height: 48px;

    background-color: black;
    color: white;
}

.header__menu {
    display: none;
    width: 39px;
    height: 18px;
    padding: 0;
    border: none;

    cursor: pointer;
    background-size: cover;
    background-color: white;
    background-image: url('../../images/menu.svg');
    background-repeat: no-repeat;
}

@media (max-width:768px) {

    .header {
        padding: 15px 20px;
    }

    .header__container {
        display: none;
    }

    .header__menu {
        display: block;

    }

    .header__button {
        width: 100%;
    }
}