.feedback {
    z-index: 2;
    position: relative;
    padding: 80px 64px 82px;
    border-radius: 30px;

    background-color: white;
}

.feedback__form {
    max-width: 867px;
    box-sizing: border-box;
    width: 60vw;
    background: #f7f7f7;
    border-radius: 30px;
    padding: 32px 64px 48px;
    box-sizing: border-box;
}

.feedback__cat {
    position: absolute;
    right: 0;
    bottom: 0;
}

.cat__eye {
    position: absolute;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.cat__eye_type_right {
    top: 159px;
    left: 202px;
    animation-name: cat-right-eyes;
}

@keyframes cat-right-eyes {
    from {
        top: 159px;
        animation-timing-function: ease-out;
    }

    25% {
        top: 154px;
        left: 192px;
        animation-timing-function: ease-out;
    }

    50% {
        top: 169px;
        left: 222px;
        animation-timing-function: ease-out;
    }

    75% {
        top: 170px;
        left: 182px;
        animation-timing-function: ease-out;
    }

    to {
        top: 159px;
    }
}

.cat__eye_type_left {
    left: 109px;
    top: 114px;
    animation-name: cat-left-eyes;
}

@keyframes cat-left-eyes {
    from {
        top: 114px;
        animation-timing-function: ease-out;
    }

    25% {
        top: 109px;
        left: 99px;
        animation-timing-function: ease-out;
    }

    50% {
        top: 119px;
        left: 125px;
    }

    75% {
        top: 135px;
        left: 127px;
    }

    to {
        top: 114px;
    }
}

@media (max-width: 1200px) {
    .feedback {
        height: 1100px;
    }

    .feedback__form {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .feedback {
        padding: 20px;
        height: 800px;
    }

    .feedback__form {
        width: 100%;
        padding: 20px 15px 34px;
    }
    .cat__eye {
        display: none;
    }
}
